/*Body Start*/
body {
    margin: 0;
    padding: 0;
    background-color: #E7ECEF;
    font-family: Arial, Helvetica, sans-serif;
}
/*Body end*/

/*Header Start*/
header {
    background-color: #272932;
    margin: 0;
    padding: 0 0 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
}
.header-title {
    margin: 0;
    padding: 10px 0 0 0;
    font-size: 60px;
    color: white;
}
.header-subtitle {
    margin: 0;
    padding: 4px 0 16px 0;
    font-size: 25px;
    color: white;
    font-style: italic;
}
ol {
    padding: 0;
    margin: 0;
}
/*Header End*/

/*Navigation Start*/
.nav-list {
    list-style-type: none;
    text-decoration: none;
    display: inline;
    padding: 0 40px 0 40px;
    font-size: 18px;
}
.nav-link {
    text-decoration: none;
    color: white;
    background-color: #0F7173;
    padding: 4px 6px;
    border-radius: 10%;
}
.nav-link:hover {
    background-color: #0f71738e;
}
/*Navigation End*/

/*Main Section Start*/
main {
    margin: 160px 30% 0 30%;
}
.section-header {
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
    padding: 20px 0 0 0;
}
p {
    font-size: 24px;
}
hr {
     width: 100%;
}
/*Main Section End*/

/*Intro Start*/
article {
    text-align: center;
}
.profile-pic {
    width: 40%;
    text-align: center;
    margin: 20px 0 0 0;
    border: 1px solid #272932 ;
}
.intro {
    text-align: left;
    padding: 0;
    margin: 0;
}
.experience-list {
    text-align: left;
    padding: 0 0 0 30px;
    font-size: 24px
}
/*Intro End*/

/*About-me Start*/
.about-me {
    text-align: left;
}
/*About-me End*/

/*Contact Start*/
.contact {
    text-align: center;
}
.contact-link-section {
    text-align: center;
}
.contact-link {
    height: 50px;
    padding: 0 5%;
}
.map {
    width: 100%;
    margin: 20px 0;
    padding: 0;
    border: 1px solid #272932;
}
/*Contact End*/

/*Footer Start*/
footer {
    background-color: #272932;
    text-align: center;
    color: black;
    margin: 0;
    padding: 0;
}
.footer-text {
    margin: 0;
    padding: 10px;
    font-size: 20px;
    color: white;
}
/*Footer End*/